<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food Recipes</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header> 
    <h1 class="website-name"> Food Recipes </h1>
    <div class="search">
      <input type="text" id="search-input" placeholder="Search">
      <button id="search-button">Search</button>
    </div>
  </header>
  <div class="main-meals">
    <% meals.forEach(meal => { %>
      <div class="meals-container">
        <div class="meal-photo">
          <img class="meal-photo-data" src="<%= meal.photo_url %>">
        </div>
        <div class="meal-name">
          <h3><%= meal.name %></h3>
        </div>

      </div>
      <div id="meal-modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
            <div class="meal-body">
              <%= meal.body %>
            </div>
        </div>
      </div>
      <% }); %>
    </div>
  <script src="/css/scripts/modal.js"></script>
  <script src="/css/scripts/search.js"></script>
</body>
</html>